<!-- Start head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | HiveHelper</title>
<link rel="stylesheet" href="https://cdn.theflyingrat.com/assets/css/normalize.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<meta name="name" content="<%= title %>! | HiveHelper">
<meta name="keywords" content="hive helper, hive, helper, HiveHelper, beekeeper, beekeeping, app">
<!-- End head.ejs -->